body{
    margin: 0;  
}/* remove browser default padding */
header{
    background-color: antiquewhite;
    position: fixed;
    font-size: 40px;
    width: 100%;
    float: left;
    padding-bottom: 10px;
    padding-right: 0%;
    
  }/*styling header */
  
  .nav{
    float: right;
    font-size: 10px;
    
      padding-left: 20%;                
      padding-right: 0%;
      text-decoration: none;
    background-color: antiquewhite;
    
    
  }/* styling navigation links*/
  .navlink
  {
    display: inline;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 60px;
    text-decoration: none;
    
  }/*padding navigation links*/
  
  ul a{
    padding-top: 10px;
    text-decoration: none;
    color:black;
  }
  
  
.hero-image
{
  padding-top : 37px;
}/* positioning hero image*/


.container_12 :hover
{
  opacity: 0.9;
  
}/*opacity hover on images*/
.bgc
{
  background-color: antiquewhite;
}

.grid_4
{
    text-align: center;
    
}/*text align ment in 960 grid*/
.container12
{
	
	content: "";
	
	clear: both;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.788);
	padding-bottom: 200px;
	padding-top: 0px;

	

}/*footer container*/
.grid6
{
    font-family: "sofia";
	float: left;
	box-sizing: border-box;
	display: table;
	width: 33%;
	padding-left: 150px;
	height: 20px;   
	position: relative;
	padding-bottom: 30px;
	text-decoration: none;
	color: whitesmoke;
	text-align: center justify;
	padding-top: 20px;
	line-height: 150%;

}/*footer columns*/
.flink
{
	text-decoration: none;	
	color: whitesmoke;
}/*footer links*/




